<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="creditPayment" class="payment.CreditPayment" />
    <bean id="cashPayment" class="payment.CashPayment" />

    <!--you can reference different types of payment here to inject the correct type -->
    <bean id="mySpringBeanWithDependency" class="testbean.MySpringBeanWithDependency">
        <property name="payment" ref="creditPayment" />
    </bean>

</beans>

